.title {
    float: left;
    position: fixed;
    z-index: 10;
    background-color: #AF8F6F;
    width: 50%;
    font-size: 28px;
    margin-top: -8px;
    height: 59px;
    padding-top: 5px;
    padding-left: 30px;
    color: #F8F4E1;
}

nav a {
    display: inline-block;
    padding: 15px 16px;
}

nav {
    float: right;
    font-size: 100%;
    top: 0;
    height: 59px;
    z-index: 10;
    background-color: #AF8F6F;
    width: 50%;
    position: sticky;
    margin-top: -8px;
    
}

nav ul {
    padding: 6px;
    margin: 0;
    list-style: none;
    z-index: 10;
    width: 100%;
    background-color: #AF8F6F;
}
  
nav ul li {
    display: inline-block;
    width: 110px;
    height: auto;
    z-index: 10;
    background-color: #AF8F6F;
    position: relative;
}
  
nav ul li a {
    display: block;
    padding-top: 5px;
    color: #F8F4E1;
    text-decoration: none;
    text-align: center;
    z-index: 10;
    background-color: #AF8F6F;
}
  
nav ul li:hover a {
    color: gray;
    z-index: 10;
    background-color: #AF8F6F;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #AF8F6F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
}

nav ul li .dropdown-content a {
    color: #F8F4E1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul li .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: gray;
}

nav ul li:hover .dropdown-content {
    display: block;
}