.title {
    float: left;
    position: fixed;
    z-index: 10;
    background-color: #AF8F6F;
    width: 50%;
    font-size: 28px;
    margin-top: -8px;
    height: 59px;
    padding-top: 5px;
    padding-left: 30px;
    color: #F8F4E1;
}

nav a {
    display: inline-block;
    padding: 15px 16px;
}

nav {
    float: right;
    font-size: 100%;
    top: 0;
    height: 59px;
    z-index: 10;
    background-color: #AF8F6F;
    width: 50%;
    position: sticky;
    margin-top: -8px;
    
}

nav ul {
    padding: 6px;
    margin: 0;
    list-style: none;
    z-index: 10;
    width: 100%;
    background-color: #AF8F6F;
}
  
nav ul li {
    display: inline-block;
    width: 110px;
    height: auto;
    z-index: 10;
    background-color: #AF8F6F;
}
  
nav ul li a {
    display: block;
    padding-top: 5px;
    color: #F8F4E1;
    text-decoration: none;
    text-align: center;
    z-index: 10;
    background-color: #AF8F6F;
}
  
nav ul li:hover a {
    color: gray;
    z-index: 10;
    background-color: #AF8F6F;
}