body {
    background-color: #F8F4E1;
    color: #543310
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.products, .cart {
    margin: 20px 0;
}

.product {
    display: flex;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(175, 143, 111,0.5);
}

.product img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-details h2 {
    margin: 0;
}

.product-details p {
    margin: 5px 0;
}

button {
    background-color: #AF8F6F;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
}

button:hover {
    background-color:burlywood;
}

.cart {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(175, 143, 111,0.5);
}

.cart h3 {
    margin-top: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.cart-item-details {
    display: flex;
    align-items: center;
}

.cart-item-details p {
    margin: 0 10px;
}

.cart-item-actions {
    display: flex;
    align-items: center;
}

.cart-item-actions input {
    width: 40px;
    text-align: center;
    margin-right: 10px;
}

.cart-item-actions button {
    background-color: #AF8F6F;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.cart-item-actions button:hover {
    background-color: burlywood;
}

.back {
    margin-left: 120px;
}
