* {
    box-sizing: border-box;
}

.clearfloat{
    clear: both;
}

#origintor {
    text-align: center;
}

.container1 {
    display: grid;
    padding: 20px;
}

.col1 {
    grid-column: 1/2;
    text-align: center;
}

.col2 {
    grid-column: 2/3;
    text-align: center;
}

.col3 {
    grid-column: 3/4;
    text-align: center;
}
  
#product {
    text-align: center;
}

.container2{
    text-align: center;
    background-color: rgba(226, 226, 226, 0.726);
    padding: 50px;
}
.productbg{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(228, 184, 255, 0), rgba(255, 255, 255, 0.75), rgba(0,0,0,0));
}

td img{
    width: 90%;
}